Bio==1.7.1
crossref==0.1.2
faiss==1.5.3
h5py==3.11.0
habanero==2.2.0
langchain==0.3.18
langchain_core==0.3.35
langchain_openai==0.3.5
langchain_voyageai==0.1.4
leidenalg==0.10.2
numpy==2.2.3
openai==1.63.0
pandas==2.2.3
pdfminer==20191125
psutil==6.0.0
python-dotenv==1.0.1
python_igraph==0.11.6
scikit_learn==1.4.1.post1
tqdm==4.66.1
