Bio==1.7.1
biopython==1.81
crossref==0.1.2
faiss_cpu==1.8.0.post1
h5py==3.11.0
habanero==2.2.0
langchain==0.3.19
langchain_core==0.3.37
langchain_openai==0.3.6
langchain_voyageai==0.1.4
leidenalg==0.10.2
numpy==2.2.3
openai==1.63.2
pandas==2.2.3
pdfminer.six==20240706
psutil==6.0.0
python-dotenv==1.0.1
python_igraph==0.11.8
scikit_learn==1.6.1
tqdm>=4.66.3
